.square {
    width: 100px;
    height: 100px;
    background-color: #73dab2;
}

.flex {
    margin: 10px;
}

.flexOne{
    display: flex;
    
}
.flexOne > .square{
    margin: 5px;   
}
.flexTwo{
    display: flex;
    flex-direction: column;
}
.flexTwo > .square{
    margin: 2px;   
}
.flexThree{
    display: flex;
    flex-direction: row-reverse;
}
.flexThree > .square{
    margin: 5px;   
}

/* Flexbox 4 */
.flexFour{
    display: flex;
    flex-wrap: wrap; 
    width: 350px; 
  
}

.flexFour > .square{
    margin: 5px;  
    background-color: #3d8b6d;
}





